<!-- Home page used for home page of website, uses SortForm -->

{% extends "forum/base.html" %}
{% load static %}
{% block content %}
<!-- Div for search bar and displaying post objects -->
<div class="posts-data">
    <form method="POST">
    {% csrf_token %}
    <!-- Filter bar for searching posts -->
    <div class="filter">
        <button class="filter-button" type="submit">Filter</button>
        <input class="filter-input" type="text" name="filter">
        <div class="sortbar-div">
            {{ form.sortchoice }}
        </div>
    </div>
    <!-- Div for displaying post objects -->
    <div class="home-posts">
        {% for post in posts %}
        <div class="post-obj">
            <div class="buttons">
                <a href="{% url 'forum-dorate' post.id 1 %}"><span title="Uprate"><img src="{% static 'forum/uprate-icon.png' %}" class="uprate-post-icon"></span></a>
                <br>
                <a href="{% url 'forum-dorate' post.id 0 %}"><span title="Downrate"><img src="{% static 'forum/downrate-icon.png' %}" class="downrate-post-icon"></span></a>
            </div>
            <span title="Post {{ post.id }} by {{ post.poster }}">
            <a href="{% url 'forum-post' post.id %}">
            <p class="post-data">
                {{ post.rating }}
                <b class="post-title"> {{ post.title }} </b>
                <small>
                    by {{ post.poster }} on {{ post.date_posted|date:'m/d/Y' }}
                </small>
            </p>
            {% if post.image %}
            <img class="post-image" src="{{ post.image.url }}">
            {% endif %}
            </a>
            </span>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Div for site name, image, user count, post count, and displaying users -->
<div class="home-data">
    <!-- Site data: site name, image, user count, post count -->
    <div class="site-data">
        <img class="forum-image-home" src="{% static 'forum/logo.png' %}">
        <b>Zz Forums</b>
        <br>
        <center>
        <small><font color="red">{{ totalusers }}</font> Users</small>
        <small><font color="red">{{ totalposts }}</font> Posts</small>
        </center>
    </div>
    <!-- Site users displayed -->
    <div class="usertabs">
    {% for usertab in users %}
        <span title="User {{ usertab.0.username }}">
        <a href="{% url 'forum-otherprofile' usertab.0.username %}">
        <div class="usertab">
            <img class="usertab-image" src="{{ usertab.0.image.url }}">
            <p class="usertab-username">{{ usertab.0.username }}</p>
            <!-- Total uprates -->
            <p class="usertab-rates"><small>Rating: {{usertab.1}}</small></p>
        </div>
        </a>
        </span>
    {% endfor %}
    </div>
</div>

<style>
    /* Filter bar, sort options, and posts */
    .posts-data{
        float: left;
        width: 80%;
        height: calc(100vh - 53px - 25px);
        margin-top: 2px;
    }
    /* Filter bar and sort options */
    .filter{
        width: 100%;
        margin-bottom: 2px;
        margin-top: 2px;
        float: left;
        height: 50px;
    }
    .filter-input{
        width: calc(85% - 90px);
        transform: translateY(25%);
    }
    .filter-button{
        width: 15%;
        padding: 0px;
        border: 0px;
        background: hsla(210,12%,16%,1);
        color: white;
        font-size: 20px;
        transform: translateY(25%);
    }
    .sortbar-div{
        width: 81px;
        float: right;
        margin-top: 9px;
    }
    .sortbar{
        height: 35px;
        float: right;
        background: hsla(210,12%,16%,1);
        color: white;
        border: 0px;
    }
    /* Post object section */
    .home-posts{
        width: 100%;
        height: calc(100vh - 50px - 53px - 25px);
        float: left;
        overflow: auto;
        border: 1px solid grey;
    }

    /* Section for site data and user tabs */
    .home-data{
        width: 20%;
        height: calc(100vh - 53px - 25px);
        float: left;
        margin-top: 3px;
    }
    /* User tabs */
    .usertabs{
        border: 1px solid grey;
        height: calc(100vh - 95px - 53px - 25px);
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding-top: 10px;
    }
    .usertab{
        width: 100%;
        height: 50px;
        white-space: nowrap;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .usertab-image{
        width: 48px;
        height: 48px;
        float: left;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 5px;
    }
    .usertab-username{
        margin: 0;
    }
    .usertab-rates{
        line-height: .5;
    }
    /* Site data: site name, image, user count, and post count */
    .site-data{
        width: 100%;
        height: 75px;
        margin: 10px;
        overflow: hidden;
        white-space: nowrap;
    }
    .forum-image-home{
        border-radius: 50%;
        width: 48px;
        height: 48px;
    }

</style>
{% endblock content %}
