{% extends "forum/base.html" %}
{% load static %}
{% block content %}

<div class="home-posts">
    <form method="POST">
    {% csrf_token %}
    <div class="filter">
        <button class="filter-button" type="submit">Filter</button>
        <input class="filter-input" type="text" name="filter">
    </div>
    {% for post in posts %}
    <div class="post-obj">
            <button type="submit" value="" class="uprate-button">^</button>
            <div class="post-rate">
                <br/>
                {{ post.rating }}
            </div>
            <p class="post-data">
                <b class="post-title"> {{ post.title }} </b>
                <small>
                    by {{ post.poster }} on {{ post.date_posted }}
                </small>
            </p>
            {% if post.image %}
            <img class="post-image" src="{{ post.image.url }}">
            {% endif %}
            <a class="post-link" href="{% url 'forum-post' post.id %}"><span></span></a>
    </div>
    {% endfor %}
</div>

<div class="home-data">
    Users: {{ users }}
</div>


<style>
    .filter{
        width: 100%;
        margin-bottom: 2px;
        margin-top: 2px;
    }
    .filter-input{
        width: 85%;
    }
    .filter-button{
        width: 14%;
        padding: 0px;
        border: 0px;
        background: hsla(210,12%,16%,1);
        color: white;
        font-size: 20px;
    }

    .home-posts{
        width: 80%;
        float: left;
    }
    .home-data{
        width: 19%;
        height: 500px;
        float: right;
        border: 1px solid grey;
    }





    /*CSS FOR POST OBJECTS*/
    .post-obj{
        position: relative;
        border: 2px solid grey;
        width: 100%;
        /* height: 2.5%; */
        text-align: left;
        margin-bottom: 5px;
        overflow: hidden;
        white-space: nowrap;
    }
    .post-data{
        padding-left: 5px;
        padding-right: 15px;
        border-radius: 15px;
        margin-top: 5px;

    }
    .post-title{
        font-size: 24px;
        padding-left: 5px;
    }
    .post-image{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 10%;
        object-fit: cover;
        z-index: 1;
    }
    .post-rate{
        float: left;
        padding-left: 3px;
        padding-right: 3px;
        line-height: 18px;
    }
    /*BUTTONS*/
    .uprate-button{
        float: left;
        left: 15px;
        padding-left: 2px;
        padding-right: 2px;
        height: 100%;
        background: hsla(210,12%,16%,1);
        color: white;
        border: none;
    }
    .uprate-button:active, .uprate-button:hover{
        background: white;
        color: black;
    }
    .post-link{
        position:absolute;
        width:97%;
        height:100%;
        top:0;
        right: 0;
        z-index: 2;
    }

</style>
{% endblock content %}
