{% extends "forum/base.html" %}
{% block content %}
<center>
    <div class="login-content">
        <p class="login-title">Login</p>
        <form method="post" >
            {% csrf_token %}
            <input type="text" class="form-name" placeholder="Username" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"/>
            <br/>
            <input type="password" class="form-password" placeholder="Password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}"/>
            <br/>
            <button class="btn btn-secondary" type="submit">Login</button> <br/>

            <small class="text-muted">
                Don't have an account? <a class="reigtser-link-login" href="{% url 'forum-register' %}">Register Now</a>
            </small>
        </form>
    </div>
</center>
<style>
.btn{
    margin-bottom: 10px;
}
.form-name, .form-password{
    width: 320px;
    height: 35px;
    border:solid 1px #666F77;
    border-radius: 6px;
    padding-left: 10px;
    margin-bottom: 25px;
}
.login-title{
    font-size: 32px;
}

</style>
{% endblock content %}
