<!-- Page for viewing profiles of users -->

{% extends "forum/base.html" %}
{% load static %}
{% block content %}
    <!-- Users data displayed -->
    <div class="otherprofile-data" align="center">
        <fieldset>
            <img class="otherprofile-image" src="{{ otheruser.image.url }}">
        </fieldset>
        <fieldset class="otherprofile-name">
            <p> {{ otheruser.username }} </p>
        </fieldset>
    </div>
    <center>
    <!-- Posts by user displayed -->
    <div class="otherprofile-post-data">
        <b class="otherprofile-post-text">Users Posts</b>
        {% if posts %}
            <div class="otherprofile-posts">
            <!-- Post objects -->
            {% for post in posts %}
                <div class="post-obj">
                    <div class="buttons">
                        <a href="{% url 'forum-dorate' post.id 1 %}"><span title="Uprate"><img src="{% static 'forum/uprate-icon.png' %}" class="uprate-post-icon"></span></a>
                        <br>
                        <a href="{% url 'forum-dorate' post.id 0 %}"><span title="Downrate"><img src="{% static 'forum/downrate-icon.png' %}" class="downrate-post-icon"></span></a>
                    </div>
                    <span title="Post {{ post.id }} by {{ post.poster }}">
                    <a href="{% url 'forum-post' post.id %}">
                    <p class="post-data">
                        {{ post.rating }}
                        <b class="post-title"> {{ post.title }} </b>
                        <small>
                            by {{ post.poster }} on {{ post.date_posted|date:'m/d/Y' }}
                        </small>
                    </p>
                    {% if post.image %}
                    <img class="post-image" src="{{ post.image.url }}">
                    {% endif %}
                    </a>
                    </span>
                </div>
            {% endfor %}
            </div>
        <!-- Display 'None' if user has no posts -->
        {% else %}
            <br>
            None
        {% endif %}
    </div>
    </center>

<style>
    .otherprofile-data{
        height: calc(42vh - 39px);
    }
    .otherprofile-post-data{
        height: calc(58vh - 39px);
        width: 500px;
        overflow: hidden;
    }
    .otherprofile-name{
        font-size: 48px;
        margin-bottom: 20px;
    }
    .otherprofile-image{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-top: 30px;
        margin-bottom: 20px;
        object-fit: cover;
    }
    .otherprofile-post-text{
        float: left;
        height: 30px;
        overflow: hidden;
    }
    .otherprofile-posts{
        height: calc(100% - 30px);
        overflow: auto;
        border: 1px solid grey;
        width: 100%;
    }
</style>
{% endblock %}
