{% extends "forum/base.html" %}
{% block content %}
    <div class="otherprofile-data" align="center">
        <fieldset>
            <img class="otherprofile-image" src="{{ otheruser.image.url }}">
        </fieldset>
        <fieldset class="otherprofile-name">
            <p> {{ otheruser.username }} </p>
        </fieldset>
    </div>
    <center>
    <div class="otherprofile-post-data">
        <b class="otherprofile-post-text">Users Posts</b>
        {% if posts %}
            <div class="otherprofile-posts">
            {% for post in posts %}
                <div class="post-obj">
                    <div class="buttons">
                        <a href="uprate/{{post.id}}/0/" ><button type="button" class="uprate-button">^</button></a>
                        <br>
                        <a href="uprate/{{post.id}}/1/" ><button type="button" class="downrate-button">^</button></a>
                    </div>
                    <span title="Post {{ post.id }} by {{ post.poster }}">
                    <a href="{% url 'forum-post' post.id %}">
                    <div class="post-rate">
                        <br/>
                        {{ post.rating }}
                    </div>
                    <p class="post-data">
                        <b class="post-title"> {{ post.title }} </b>
                        <small>
                            by {{ post.poster }} on {{ post.date_posted|date:'m/d/Y' }}
                        </small>
                    </p>
                    {% if post.image %}
                    <img class="post-image" src="{{ post.image.url }}">
                    {% endif %}
                    </a>
                    </span>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <br>
            None
        {% endif %}
    </div>
    </center>

<style>
    .otherprofile-data{
        height: calc(42vh - 39px);
    }
    .otherprofile-post-data{
        height: calc(58vh - 39px);
        width: 500px;
        overflow: hidden;
    }
    .otherprofile-name{
        font-size: 48px;
        margin-bottom: 20px;
    }
    .otherprofile-image{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-top: 30px;
        margin-bottom: 20px;
        object-fit: cover;
    }
    .otherprofile-post-text{
        float: left;
        height: 30px;
        overflow: hidden;
    }
    .otherprofile-posts{
        height: calc(100% - 30px);
        overflow: auto;
        border: 1px solid grey;
        width: 100%;
    }
</style>
{% endblock %}
