<!-- Page for viewing Post object, uses CommentForm -->

{% extends "forum/base.html" %}
{% load static %}
{% block content %}
<div class="post-page-data">
    <!-- Post data -->
    <div class="post-page-details">
        <img class="post-user-image" src="{{ userimage.url }}">
        <b class="post-page-title"> {{ post.title }} </b>
        <small> by {{ post.poster }} on {{ post.date_posted|date:'m/d/Y' }}</small>
        {% if post.content %}
            <p class="post-page-content"> {{ post.content }} </p>
        {% endif %}
        {% if post.image %}
            <center>
                <img class="post-page-image" src="{{ post.image.url }}">
            </center>
        {% endif %}
        <!-- Post rating, rate buttons, and total comments -->
        <div class="comment-rate-data">
            <!-- <a href="{% url 'forum-dorate' post.id 1 %}"><button type="button" class="uprate-button-post">^</button></a> -->
            <a href="{% url 'forum-dorate' post.id 1 %}"><span title="Uprate"><img src="{% static 'forum/uprate-icon.png' %}" class="uprate-image-post"></span></a>
            <div class="post-page-rating">
                {{ post.rating }}
            </div>
            <a href="{% url 'forum-dorate' post.id 0 %}"><span title="Downrate"><img src="{% static 'forum/downrate-icon.png' %}" class="downrate-image-post"></span></a>
            <div class="comment-count">
                {{ commentcount }} Comments
            </div>
        </div>
    </div>
    <!-- If user is logged in, display comment input -->
    {% if user.is_authenticated %}
        <center>
        <div class="enter-comment">
            <form  method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
            <button class="comment-submit" type="submit">Comment</button>
            {{ form.content }}
            </form>
        </div>
        </center>
    {% endif %}
    <!-- Comment section -->
    <div class="comments">
        {% for comment in comments %}
            <div class="comment">
                <img class="comment-image" src="{{ comment.1.url }}">
                <div class="comment-body">
                    <small>by {{ comment.0.poster }}</small><br/>
                    {{ comment.0.content }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<style>
    /* CSS for Post page */
    .post-page-data{
        width: 75hh;
    }

    /* CSS for Post object data */
    .post-page-details{
        border-radius: 6px;
        margin-bottom: 2px;
    }
    .post-user-image{
        height: 48px;
        width: 48px;
        border-radius: 50%;
        margin-top: 2.5%;
        margin-bottom: 10px;
        margin-left: 2.5%;
        object-fit: cover;
    }
    .post-page-title{
        font-size: 24px;
    }
    .post-page-content{
        margin-left: 2.5%;
        margin-right: 2.5%;
        word-wrap: break-word;
    }
    .post-page-image{
        align: center;
        width: 95%;
        padding-bottom: 10px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        object-fit: cover;
    }

    /* CSS for Post rating, rate buttons, and comment counnt */
    .comment-rate-data{
        height: 28px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        overflow: hidden;
    }
    .post-page-rating{
        float: left;
        margin-left: 5px;
        margin-right: 5px;
    }
    .uprate-image-post, .downrate-image-post{
        width: 20px;
        height: 20px;
        display: block;
        float: left;
    }
    .uprate-image-post{
        margin-top: 3px;
    }
    .downrate-image-post{
        margin-top: 7px;
    }
    .comment-count{
        float: right;
    }

    /* CSS for Comment objects */
    .enter-comment{
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 25px;
    }
    .comment-data{
        width: 80%;
        padding: 0;
        margin: 0;
    }
    .comment-submit{
        width: 19%;
        padding: 0px;
        border: 0px;
        background: hsla(210,12%,16%,1);
        color: white;
        font-size: 20px;
    }
    .comments{
        margin-bottom: 25px;
    }
    .comment{
        margin-bottom: 10px;
        width: 100%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .comment-image{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        float: left;
        object-fit: cover;
    }
    .comment-body{
        width: 100%;
        padding-left: 50px;
        padding-right: 5%;
        word-wrap: break-word;
    }
</style>
{% endblock content %}
