{% extends "forum/base.html" %}
{% load static %}
{% block content %}
<div class="profile-page">
    <div class="profile-data" align="center">

        <img class="profile-image" src="{{ profileuser.image.url }}">

        <div class="profile-name">
            <p> {{ profileuser.username }} </p>
        </div>
        <a class="logout-ref" href="/logout/"><span title="Logout"><img class="logout-icon" src="{% static 'forum/logout.png' %}"></span></a>
    </div>
    <center>
    <div class="profile-rated-posts" >
        <b class="rated-posts-text">Created and Rated Posts</b>
        <!-- HTML FOR POST OBJECT -->
        {% if rated %}
        <div class="rated-posts">
        {% for post in rated %}
            <div class="post-obj">
                <div class="buttons">

                    <a href="uprate/{{post.id}}/0/" ><button type="button" class="uprate-button">^</button></a>
                    <br>
                    <a href="uprate/{{post.id}}/1/" ><button type="button" class="downrate-button">^</button></a>

                </div>
                <span title="Post {{ post.id }} by {{ post.poster }}">
                <a href="{% url 'forum-post' post.id %}">

                <div class="post-rate">
                    <br/>
                    {{ post.rating }}
                </div>
                <p class="post-data">
                    <b class="post-title"> {{ post.title }} </b>
                    <small>
                        by {{ post.poster }} on {{ post.date_posted|date:'m/d/Y' }}
                    </small>
                </p>
                {% if post.image %}
                <img class="post-image" src="{{ post.image.url }}">
                {% endif %}
                </a>
                </span>
            </div>
        {% endfor %}
        </div>
        {% else %}
        <br>
            None
        {% endif %}
    </div>
    </center>
</div>

<style>
    .profile-page{

    }
    .profile-data{
        height: calc(50vh - 39px);
    }
    .profile-name{
        font-size: 48px;
        margin-bottom: 20px;
    }
    .profile-image{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-top: 30px;
        margin-bottom: 20px;
        object-fit: cover;
    }
    .profile-rated-posts{
        width: 500px;
        height: calc(50vh - 39px);
        overflow: hidden;
    }
    .rated-posts-text{
        float: left;
        height: 30px;
        overflow: hidden;
    }
    .rated-posts{
        width: 100%;
        float: left;
        height: calc(50vh - 39px - 30px);
        overflow: auto;
        border: 1px solid grey;
    }
    .logout-icon{
        margin-right: 10px;
        height: 48px;
        width: 48px;
    }
</style>
{% endblock content %}
