<!-- Profile page for logged in user -->

{% extends "forum/base.html" %}
{% load static %}
{% block content %}
<div class="profile-page">
    <!-- Data for logged in user -->
    <div class="profile-data" align="center">
        <img class="profile-image" src="{{ profileuser.image.url }}">
        <div class="profile-name">
            <p> {{ profileuser.username }} </p>
        </div>
        <!-- Logout button -->

    </div>
    <center>
    <div class="profile-rated-posts" >
        <b class="rated-posts-text">Created and Rated Posts</b>
        <!-- HTML FOR POST OBJECT -->
        {% if rated %}
        <!-- Displaying of rated and Posts by user -->
        <div class="rated-posts">
        {% for post in rated %}
            <div class="post-obj">
                <div class="buttons">
                    <a href="{% url 'forum-dorate' post.id 1 %}"><span title="Uprate"><img src="{% static 'forum/uprate-icon.png' %}" class="uprate-post-icon"></span></a>
                    <br>
                    <a href="{% url 'forum-dorate' post.id 0 %}"><span title="Downrate"><img src="{% static 'forum/downrate-icon.png' %}" class="downrate-post-icon"></span></a>
                </div>
                <span title="Post {{ post.id }} by {{ post.poster }}">
                <a href="{% url 'forum-post' post.id %}">
                <p class="post-data">
                    {{ post.rating }}
                    <b class="post-title"> {{ post.title }} </b>
                    <small>
                        by {{ post.poster }} on {{ post.date_posted|date:'m/d/Y' }}
                    </small>
                </p>
                {% if post.image %}
                <img class="post-image" src="{{ post.image.url }}">
                {% endif %}
                </a>
                </span>
            </div>
        {% endfor %}
        </div>
        <!-- If the user has no posts or rated posts -->
        {% else %}
        <br>
            None
        {% endif %}
    </div>
    </center>
</div>

<style>
    /* CSS of data for logged in user */
    .profile-data{
        height: calc(300px);
        overflow: hidden;
    }
    .profile-name{
        font-size: 48px;
        margin-bottom: 10px;
    }
    .profile-image{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-top: 15px;
        margin-bottom: 10px;
        object-fit: cover;
    }

    /* CSS for Posts */
    .profile-rated-posts{
        width: 500px;
        height: calc(100vh - 300px - 75px);
        overflow: hidden;
    }
    .rated-posts-text{
        float: left;
        height: 30px;
        overflow: hidden;
    }
    .rated-posts{
        width: 100%;
        float: left;
        height: calc(100% - 30px);
        overflow: auto;
        border: 1px solid grey;
    }
</style>
{% endblock content %}
