{% extends "forum/base.html" %}
{% block content %}
<center>
    <div class="register-content">
        <form method="POST">
            {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Register</legend>
                    <p>{{ form.errors }}</p>
                </fieldset>
                <div class="stuff">


                <fieldset class="form-name mb-4">
                    {{ form.name }}
                </fieldset>
</div>
                <fieldset class="form-password mb-4">
                    {{ form.password }}
                </fieldset>
                <div class="form-group">
                    <button type="button" class="btn btn-secondary" name="submit">Register</button>
                </div>
                <small class="text-muted">
                    Already have an account? <a class="ml-2" href="#">Login</a>
                </small>

        </form>
    </div>
</center>

<style media="screen">
    .submit-button{
        background-color: hsla(210,12%,16%,1);
    }
    .form-group{
        ;
    }
    .c-error input{
  background: #c51244 !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative;
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
}
</style>
 {% endblock content %}
