{% extends "forum/base.html" %}
{% load widget_tweaks %}
{% block content %}
<center>
    <div class="register-content">
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
                <p class="register-heading">Register</p>
                {{ form.image }} <br/>
                {{ form.username }}<br/>
                <input type="password" class="register-password" placeholder="Password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}"/> <br/>
                <button class="btn btn-secondary" type="submit">Register</button> <br/>
                <small class="text-muted">
                    Already have an account? <a class="regitser-link-login" href="{% url 'forum-login' %}">Login</a>
                </small>
        </form>
    </div>
</center>
<style media="screen">
    .error1, .errors-register-password{
        width: 320px;
        list-style: none;
    }
    .btn{
        margin-bottom: 10px;
    }
    .register-heading{
        font-size: 32px;
    }
    .register-image{
        display:inline-block;
        padding: 4px 12px;
        background-color: #FFFFFF;
        border:solid 1px #666F77;
        border-radius: 6px;
        color:#666F77;
    }
    .register-image, .register-name, .register-password{
        margin-bottom: 25px;
    }
    .register-name, .register-password{
        width: 320px;
        height: 35px;
        border:solid 1px #666F77;
        border-radius: 6px;
        padding-left: 10px;
    }

</style>
{% endblock content %}
