<!-- Page for changing User settings, uses -->

{% extends "forum/base.html" %}
{% block content %}
<center>
<div class="settings-page">
    <p class="settings-title">
        Settings
    </p>
<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <!-- Error messages from User input -->
    {% if error %}
        <div class="error-message-settings">
            {{ error }}
        </div>
        <br>
    {% endif %}
    <!-- Input for User data changes, must be validated by old password -->
    <input class="new-image-input" type="file" name="newimage"><br>
    <input class="old-password-input" placeholder="Old Password" type="password" name="old-password">
    <input class="new-password-input" placeholder="New Password" type="password" name="new-password">
    <input class="new-password-conf" placeholder="New Password Confirm" type="password" name="new-password-conf">
    <br/>
    <button class="btn btn-secondary" type="submit">Save</button>
</div>
</center>

<style>
    .settings-page{
        width: 400px;
    }
    .settings-title{
        font-size: 32px;
    }
    .new-image-input{
        display:inline-block;
        padding: 4px 12px;
        background-color: #FFFFFF;
        border:solid 1px #666F77;
        border-radius: 6px;
        color:#666F77;
        margin-bottom: 25px;
    }
    .old-password-input, .new-password-input, .new-password-conf{
        width: 395px;
        height: 35px;
        border:solid 1px #666F77;
        border-radius: 6px;
        padding-left: 10px;
        margin-bottom: 25px;
    }
    .error-message-settings{
        color: red;
    }
</style>

{% endblock %}
